<!doctype html>
<html>
<head>
   <!-- Aca ira todo lo necesario para poder relacionar el html, esqueleto, con su diseño y resto -->
    <link rel="stylesheet" href="../public/css/home.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Barzana Clinic - Demo </title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
</head>
<body id="cuerpo">
<header id="header">
    <img src="../public/img/clinica2.png" id="picture"> 
    <navbar id="navbar">
        <a> Home </a>
        <a> Appointments </a>
        <a> Login </a>
        <a> Register </a>
    </navbar>
</header>
<main>
        
        
<!-- Carousel-->
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 100%; padding-top: 100px ;">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../public/img/IMG-2000.jpg" alt="Los Angeles" class="d-block" style="width:100% ; height:500px">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../public/img/IMG-2000.jpg" alt="Chicago" class="d-block" style="width:100% ; height:500px">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
        </div>
    </div>
      <div class="carousel-item">
        <img src="../public/img/IMG-2000.jpg" alt="New York" class="d-block" style="width:100% ; height:500px">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
        </div>
      </div>
  </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>
<p class="infoAd"> Clinic Options: treatments, surgery, etc </p>
<section id="clinicOptions">
  
 <div class="carta">
              <img src="../public/img/IMG-2000.jpg" alt="" class="cartaImg">  
              <p class="cartaText"> Clinic Pic + History</p>
  </div>
  <div class="carta">
    <img src="../public/img/IMG-2000.jpg" alt="" class="cartaImg">  
    <p class="cartaText"> Clinic Pic + History</p>
</div>
<div class="carta">
  <img src="../public/img/IMG-2000.jpg" alt="" class="cartaImg">  
  <p class="cartaText"> Clinic Pic + History</p>
</div>
<div class="carta">
  <img src="../public/img/IMG-2000.jpg" alt="" class="cartaImg">  
  <p class="cartaText"> Clinic Pic + History</p>
</div>


</section>

 <div>       
             <p class="infoAd"> Meet our Doctors </p>
            <div class="container mt-3" id="doctors">
                
                <div class="card" style="width:400px ; margin-bottom: 3em;">
                  <img class="card-img-top" src="../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
                </div>
            
                <div class="card" style="width:400px ; margin-bottom: 3em;">
                    <img class="card-img-top" src="../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
               
                <div class="card" style="width:400px ; margin-bottom: 3em;">
                    <img class="card-img-top" src="../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
</div>
      
      <!-- information about the values of the clinic -->

  <div id="info">

    <div class="infoTitle"> 

      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/patient-resources-icon.png">
      <h5> Patient Resources  </h5>
      <p class="blackText"> Random Text Random Text Random Text </p>

    </div>
  
    <div class="infoTitle"> 

      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/specialties-icon.png">
      <h5> Specialties</h5>
      <p class="blackText"> Random Text Random Text Random Text</p> 
    
    </div >
   
    <div class="infoTitle">
      
      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/medical-prof-icon.png">
      <h5> Medical Professions </h5>
      <p class="blackText"> Random Text Random Text Random Text </p>

    </div>
    

    <div class="infoTitle"> 

      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/research-icon.png">
      <h5> Research </h5>
      <p class="blackText"> Random Text Random Text Random Text </p>

    </div>
    
    <div class="infoTitle"> 

      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/giving-icon.png">
      <h5> Giving </h5>
      <p class="blackText"> Random Text Random Text Random Text </p>
    </div>
   
    <div class="infoTitle"> 

      <img src="https://www.marshfieldclinic.org/style%20library/images/pwsicons/rebrand2018/SHP-icon.png">
      <h5> Insurance </h5>
      <p class="blackText"> Random Text Random Text Random Text </p>

    </div>


   </div>
</main>
<footer>
        <ul>
            <p class="foot3">  <i class="bi bi-globe-americas"></i> You can find us here: </p>
            <p class="foot3">  <i class="bi bi-buildings-fill"></i> Glew City </p>
            <p>  <i class="bi bi-arrow-return-right"></i>  94 North South Main Low Street </p>
            <p class="foot3">  <i class="bi bi-buildings-fill"></i> Spectrum Town </p>
            <p>  <i class="bi bi-arrow-return-right"></i> 123 Great Avenue </p>
            <p class="foot3">  <i class="bi bi-buildings-fill"></i> Old York City </p>
            <p>  <i class="bi bi-arrow-return-right"></i> 878 Tobson Avenue </p>

        </ul>
        <ul class="foot3">
            <p>  <i class="bi bi-info-circle"></i> Contact detail </p>
            <p>  <i class="bi bi-telephone-fill"></i> 0880-454-3443 </p>
            <p>  <i class="bi bi-envelope-fill"></i> Barzanaclinic@gmod.com </p>
        </ul>
        <ul class="foot3">
            <p>  <i class="bi bi-linkedin"></i> Work with us</p>
            <p> Follow us in our social media! </p>
            <p> <i class="bi bi-instagram"></i> instagram.com/BarzanaClinic  </p>
            <p> <i class="bi bi-twitter"></i> twitter.com/BarzanaClinic  </p>
        </ul>
</footer>
</body>

</html>