@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html{
/*    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  */
  
  background-color:white
  ;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    background: #003e51;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
}

#navbar a{
    color: white !important;
    text-decoration: none !important;
}

.text-error{
    color: red;
    font-size: large;
}


#navbar{
    background: #003e51 ;
    color: white;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-right: 50px;
    font-size: 1.3em;
    width: 55%;
}


.headText {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-block: 2px;
}

.headText::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s ease ;
}
.headText:hover::after {
	transform: scaleX(1);
}

/**/


#picture{
    margin-left: 10%;
    height: 100px;
    width: 150px;
}

#doctors{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.infoAd{
    justify-content: center;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 30px
}

.carta{
    width: 250px;
    height: 250px;
    margin-bottom: 3em;
    background-color: #333;
    border-radius:10px;
    outline: 1px solid rgba(255, 255, 255, 5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0,0 ,1);
    position: relative;
    overflow: hidden;
}

.cartaImg{
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform 0.75s;
}

.carta:hover .cartaImg{
    transform: scale(1.15);
}

.cartaText{
    position:absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 2px;
    color: white;
}
.carousel-text{
    text-shadow: black 0 0 5px;
}

#clinicOptions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#cuerpo{
    background: white;
}

#info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 5% 10% 5% 10%;
}


.infoTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.infoTitle:hover {
    filter: drop-shadow(6px 6px 3px lightslategray);
    color:rgb(168, 49, 49);
    transition: 0.4s ease-in-out 0.2s; 
    
}


.blackText{
    color:black !important;
    filter: drop-shadow(0 0 0 white) !important;
}

/* Search doctor */

#searchDoctor {
    display: flex;
    justify-content: center;
}



/* APPOINTMENT */
#mainApp{
    padding-top: 200px; 
    margin: 0% 7% 0% 7%;
}

#secApp{
    display: flex; 
    justify-content: space-around;
    height: 300px;
}

#docPicDiv{
    width: 50%; 
    border: solid;
}



/* PROFILE  */
#mainProfile{
    margin: 0 5% 0 5%;
    padding-top: 150px;
}

.personalText{
    color: #003e51 !important;
    font-size: 37px !important;
    text-align: center;
    margin: 5% 0 5% 0;
}
#profileSec{
    display: flex;
    justify-content: space-around; 
    height: fit-content;  
}

#profileDP{
    width: 50%; 
    border: solid grey;
    border-radius: 10px
}

#profileDP:hover{
    box-shadow: 3px 3px 10px rgba(0, 0,0 ,1);
    transition: ease-in-out 0.2s;
}
#profilePic{
    height: 300px;
    width: -webkit-fill-available;
    border-radius: 5px;
}

#profileData{
    width: 174%;
    height: fit-content;
    border: solid grey;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

#appointmentsData{
    border: solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(1,1,1 ,0.5);

}

/* prof- table*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  
  td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
  }
  
  tr{
    border: 1px solid black;

  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
/* LOGIN */
#login{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 50px 50px;
    padding-top: 200px;
    flex-wrap: wrap;
}

/* REGISTER */
#Register{
    padding-top: 150px;
    margin: 0 5% 0 5%
}

.class-text{
    color : red;
}


.hovers:hover{
    background-color:red;
    transition: 1000ms;

}

.form-check-input:checked {
    background-color: #003e51 !important;
    border-color: #003e51 !important;
}


/* FOOTER  */
footer{
    background: lightslategray;
    color: white;
    display: flex;
   
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 16px;
    align-items: baseline;
    justify-content: space-evenly;
}

.foot3{
    font-size: 1.25em;
}


/* MOBILE VERSION -- ONLY HOME */

@media (max-width: 550px) {
    
    header{
    display: flex;
    background: #003e51;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    justify-content: center;
    }
    
    #picture{
        margin-left: 0%;
        height: 100px;
        width: 100px;
    }
    #profileDP{
        display: none;
    }
    #navbar {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}