<!doctype html>
<html lang="en">
  <%- include ('./partials/head') %>
<body id="cuerpo">

  <%- include ('./partials/header') %>
  <main>
      
    <form class="row g-3" id="Register" action="/createDoctor" method="post" enctype="multipart/form-data">
       <h2> Add a new Professional!</h2>
      <div class="col-md-4">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" name="name" class="form-control" id="name" value="Mark" required>
      </div>
      <div class="col-md-4">
        <label for="expertise" class="form-label"> Area of Expertise </label>
        <input type="text" name="expertise" class="form-control" id="expertise" value="Dermathologist" required>
      </div>
      <div class="col-md-3">
        <label for="email" class="form-label"> Email </label>
        <input type="text" name="email" class="form-control" id="email" required>
      </div>
      <div class="col-md-6">
        <label for="birthdate" class="form-label"> Birthdate </label>
        <input type="date" name="birthdate" class="form-control" id="birthdate" required>
      </div>
        <div class="col-md-3">
        <label for="city" class="form-label">City</label>
        <input type="text" name="city" class="form-control" id="city" required>
      </div> 
      
      <div class="col-md-3">
      <label for="validationDefault06" class="form-label"> Days Available: </label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="monday" id="monday" value="1">
            <label class="form-check-label" for="monday"> Monday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="tuesday" name="tuesday" value="2">
            <label class="form-check-label" for="Tuesday"> Tuesday </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="wednesday" name="wednesday"value="3">
            <label class="form-check-label" for="wednesday"> Wednesday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="thursday" name="thursday" value="4">
            <label class="form-check-label" for="thursday"> Thursday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="friday" id="friday" value="5">
            <label class="form-check-label" for="friday"> Friday </label>
          </div>
        
      </div>
      <div class="col-md-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="number" name="phone" class="form-control" id="phone" required>
      </div>
      <div class="col-md-3">
        <label for="avatar" class="form-label">Profile Picture</label>
        <input type="file" name="avatar" class="form-control" id="avatar" required>
      </div>
      <div class="col-md-3">
      <br>
      <div class="col-12">
        <button class="btn btn-primary" type="submit" style="background-color: #003e51;">Submit form</button>
      </div>
    </form>

</main>

  <%- include ('./partials/footer') %>

</body>
</html>