<!doctype html>
<html lang="en">
  <%- include ('./partials/head') %>
<body id="cuerpo">

  <%- include ('./partials/header') %>
  <main style="padding-top: 100px; margin: 0% 7% 0% 7%;">
    
    <h2 class="personalText"> My profile</h2>

    <section id="profileSec">
        <div id="profileDP">
          <img src="/public/img/IMG-2000.jpg" id="profilePic" >  
        </div>
    
        <div id="profileData">
          <table style="height: 100%">
            <tr>
              <td> Name </td>
              <td> Julian Barzana</td>
            </tr>
            <tr>
              <td> Date birth: </td>
              <td> 99/99/9999 </td>
            </tr>
            <tr>
              <td> Cellphone number:</td>
              <td> 00 0000 0000 </td>
            </tr>
            <tr>
              <td> Sex:</td>
              <td> Male </td>
            </tr>
            <tr>
                <td> Days Availiable </td>
                <td> Thursday, Friday </td>
            </tr>
            <tr>
              <td> Area of Expertise </td>
              <td> Dermathologist </td>
            </tr>
            <tr>
              <td> City: </td>
              <td> New Gerd </td>
            </tr>
            <tr>
              <td> Mail: </td>
              <td> Julian@gmail.gnid </td>
            </tr>
          </table>
        </div>
    </section>
</section>
<h2 class="personalText" style="text-align: center; margin: 5% 0 5% 0"> Take Turn </h2>
<form style="border: solid; margin-top: 5%;" method="post" action="/newTurn">
  <div class="col-md-3">
    <div class="col-md-12">
      <label for="datepicker" class="form-label"> Date </label>
      <input type="date" name="datepicker" class="form-control" placeholder="Click to choose a date" id="datepicker" required>
    </div>

    <label for="validationDefault06" class="form-label">Hour</label>
    <select class="form-select" id="validationDefault06" name="hour" required>
      <option selected disabled value="">Choose...</option>
      <option> 16:00 </option>
      <option> 17:00 </option>
      <option> 18:00 </option>
      <option> 19:00 </option>
      <option> 20:00 </option>
    </select>
  </div>  
  <button type="submit" class="btn btn-primary" style="background-color: #003e51;"> Make Appointment </button>
  <button type="reset" class="btn btn-danger" style="background-color: #690000;"> Clean </button>

</form>



</main>

  <%- include ('./partials/footer') %>
<script>
  

  flatpickr('#datepicker', 
  {
      
      dateFormat: "F j, Y",
      minDate: "today",
      disable: [
          function(date) {
              return (date.getDay() === 0 || date.getDay() === 6 || date.getDay() === 2);
          }
      ]
  })

</script>
</body>
</html>