<!doctype html>
<html lang="en">
  <%- include ('./partials/head') %>
<body id="cuerpo">

  <%- include ('./partials/header') %>
    <main style="padding-top: 100px; margin: 0% 7% 0% 7%;">
    
        <div>       
            <h2 class="personalText"> Look up a Doctor </h2> 
           <div class="container mt-3" id="doctors">
               
               <div class="card" style="width:400px ; margin-bottom: 3em;">
                 <img class="card-img-top" src="../../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                 <div class="card-body">
                   <h4 class="card-title">John Doe</h4>
                   <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                   <a href="#" class="btn btn-primary">See Profile</a>
                 </div>
               </div>
           
               <div class="card" style="width:400px ; margin-bottom: 3em;">
                   <img class="card-img-top" src="../../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                   <div class="card-body">
                     <h4 class="card-title">John Doe</h4>
                     <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                     <a href="#" class="btn btn-primary">See Profile</a>
                   </div>
               </div>
              
               <div class="card" style="width:400px ; margin-bottom: 3em;">
                   <img class="card-img-top" src="../../public/img/IMG-2000.jpg" alt="Card image" style="width:100%">
                   <div class="card-body">
                     <h4 class="card-title">John Doe</h4>
                     <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                     <a href="#" class="btn btn-primary">See Profile</a>
                   </div>
               </div>
           </div>
</div>


    </main>

  <%- include ('./partials/footer') %>

</body>
</html>