<!doctype html>
<html>
 
<%- include ('./partials/head') %>
 
  <body id="cuerpo">

  <%- include ('./partials/header') %>
<main>
      
        <form class="row g-3" id="Register" action="/users/register" method="post" enctype="multipart/form-data">
           <h2> Register yourself!</h2>
          <div class="col-md-4">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" name="firstName" class="form-control" id="firstName" value="Mark" required>
          </div>
          <div class="col-md-4">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" name="lastName" class="form-control" id="lastName" value="Otto" required>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
              <input type="email" name="email" class="form-control" id="email"  aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="col-md-4">
            <label for="password" class="form-label"> Password</label>
            <input type="password"  name="password" class="form-control" id="password" value="" required>
            <div id="emailHelp" class="form-text">Your Password must have: 8-20 characters and at least 1 number.</div>
          </div>
          <div class="col-md-4">
            <label for="cPassword" class="form-label"> Confirm Your Password </label>
            <input type="password" name="cPassword" class="form-control" id="cPassword" value="" required>
          </div>         
          <div class="col-md-6">
            <label for="birthdate" class="form-label"> Date Birth</label>
            <input type="date" name="birthdate" class="form-control" id="birthdate" required>
          </div>
    
          <div class="col-md-3">
            <label for="city" class="form-label">City</label>
            <input type="text"  name="city" class="form-control" id="city" required>
          </div>
          <div class="col-md-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" name="phone" class="form-control" id="phone" required>
          </div>
          
          <div class="col-md-3">
            <label for="avatar" class="form-label">Profile Picture</label>
            <input type="file" name="avatar" class="form-control" id="avatar" required>
          </div>
          
          <br>
          <div class="col-12">
            <button class="btn btn-primary" type="submit" style="background-color: #003e51;">Submit form</button>
          </div>
        </form>

</main>
<%- include ('./partials/footer') %>
</body>

</html>