<footer>
    <ul>
        <p class="foot3">  <i class="bi bi-globe-americas"></i> You can find us here: </p>
        <p class="foot3">  <i class="bi bi-buildings-fill"></i> Glew City </p>
        <p>  <i class="bi bi-arrow-return-right"></i>  94 North South Main Low Street </p>
        <p class="foot3">  <i class="bi bi-buildings-fill"></i> Spectrum Town </p>
        <p>  <i class="bi bi-arrow-return-right"></i> 123 Great Avenue </p>
        <p class="foot3">  <i class="bi bi-buildings-fill"></i> Old York City </p>
        <p>  <i class="bi bi-arrow-return-right"></i> 878 Tobson Avenue </p>

    </ul>
    <ul class="foot3">
        <p>  <i class="bi bi-info-circle"></i> Contact detail </p>
        <p>  <i class="bi bi-telephone-fill"></i> 0880-454-3443 </p>
        <p>  <i class="bi bi-envelope-fill"></i> Barzanaclinic@gmod.com </p>
    </ul>
    <ul class="foot3">
        <p>  <i class="bi bi-linkedin"></i> Work with us</p>
        <p> Follow us in our social media! </p>
        <p> <i class="bi bi-instagram"></i> instagram.com/BarzanaClinic  </p>
        <p> <i class="bi bi-twitter"></i> twitter.com/BarzanaClinic  </p>
    </ul>
</footer>