<header id="header">
    <img src="../../public/img/clinica2.png" id="picture"> 
    <navbar id="navbar">
        <a href="/"> Home </a>
        <a href="/appointment"> Appointments </a>
        <a href="/doctor"> Doctors</a>
        <a href="/add"> Add doctor</a>
        <a href="/users/login"> Login </a>
        <a href="/users/register"> Register </a>
        <a href="/users/profile"> Profile </a>
    </navbar>
</header>