<header id="header">
    <img src="../../public/img/clinica2.png" id="picture"> 
    <navbar id="navbar">
        <a href="/" class="headText" > Home </a>
        <a href="/appointment" class="headText"> Appointments </a>
        <a href="/doctor" class="headText" > Doctors</a>
        <a href="/add" class="headText"> Add doctor</a>
        <a href="/users/login" class="headText"> Login </a>
        <a href="/users/register" class="headText"> Register </a>
     
        <a href="/users/profile" class="headText"> Profile </a>
        
    </navbar>
</header>